




/*
     FILE ARCHIVED ON 19:26:11 Nov 28, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 8:52:46 Apr 24, 2015.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
.addtoany_share_save_container{clear:both;line-height:32px;margin:16px 0}.addtoany_list{display:inline}.addtoany_list a{padding:0 9px}.addtoany_list a img{height:16px;opacity:.7;overflow:hidden;vertical-align:middle;width:16px}.addtoany_list a:hover img,.addtoany_list a.addtoany_share_save img{opacity:1}iframe.addtoany_special_service{padding:0 9px;vertical-align:middle}a.addtoany_share_save img{border:0;width:auto;height:auto}