




/*
     FILE ARCHIVED ON 17:20:47 Aug 31, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:19:07 Apr 24, 2015.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
Theme Name: River Valley TV
Theme URI: http://river-valley.tv
Description: Theme based on K2 designed for River Valley TV.
Author: Dayakar
Author URI: http://river-valley.tv
Template: k2-1.0-RC8-revision-817-2009-09-24
*/

/*- Page Structure */

body {
	font-size: 62.5%; /* Resets 1em to 10px */
	color: #444;
	background: #BDBDBD;
	text-align: center;
	}

#page {
	background:white; 
	text-align:left; 
	margin:8px auto; 
	padding-top:5px; 
	position:relative; 
	border:1px solid #ddd; 
	border-top:none; 
	clear:both; 
	width:780px; 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	}

#header	{
	height: 130px; 
	width: 770px;  
	background:#F0F0F0 url('/web/20100831172047/http://river-valley.tv/wp-content/themes/rivervalleytv/images/gray-bg.png') repeat;
	margin: 0px auto; 
	border: 1px solid #ddd;
/*
	border-top: 1px solid #ddd; 
	border-left:1px solid #ddd; 
	border-right:1px solid #ddd;
*/
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	}

.cgiv2010 {
position: absolute; margin: 0px; z-index: 1;
	width: 771px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}

/*rvt.com & rvt.tv*/
ul.com-tv {
	margin: 5px 0px 0px 0px; 
	padding: 0;
	}

ul.com-tv li {
	list-style-type: none; 
	display: block; 
	float: right; 
	z-index: 100px;
	}

ul.com-tv li#typesetting a {
	display: block; 
	padding: 0px 5px;
	font-size: 1.2em;
/*
	color: #A4A4A4;
*/
	border-right: 1px solid #A4A4A4;
	}

ul.com-tv li#multimedia {
	display: block; 
	padding: 0px 5px;
	font-size: 1.2em;
	color: #A4A4A4;
	}

ul.com-tv li#multimedia a:hover {
	text-decoration: underline;
	}

/*- Main Menu k2 in Header */

ul.menu {
	display: none;
	}
/*- Main Menu k2 in Header */

.content {
	padding: 0 4px 10px 8px;
	}

#primary {
	width: 518px;
	}

.secondary {
	padding: 0px;
	}

.secondary ul li {
	line-height: 1.1em;
	}

body.columns-two #primary-wrapper {
	margin-right: -240px;
	}

.page .entry-head {
	margin-bottom: 10px;
	}

.page h1.entry-title {
	font-family: 'Lucida Grande', 'Lucida Sans','Lucida Sans Unicode', Helvetica, Arial, sans-serif; 
	font-weight: normal; 
	text-align: left;
	font-size: 2.2em;
	}

.four04 .entry-title,
body.page .entry-title {
	text-align: left;
	}

#sidebar-1 {
/*	background-color: #F0F0F0; */
	background:#F0F0F0 url('/web/20100831172047/http://river-valley.tv/wp-content/themes/rivervalleytv/images/gray-bg.png') repeat;
	padding: 0 10px 10px 10px; 
	-moz-border-radius-bottomleft: 8px; 
	-moz-border-radius-bottomright: 8px; 
	-webkit-border-bottom-left-radius: 8px; 
	-webkit-border-bottom-right-radius: 8px;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	border-left:1px solid #ddd;
	}

#search-2 {
	margin: 0px;
	}

/*rvt tag cloud*/
ul.wp-tag-cloud {
	margin:0; 
	padding:0;
	list-style: none;
	}
ul.wp-tag-cloud li {
	display: inline; 
	margin: 0;
	}

ul.wp-tag-cloud,
ul.wp-tag-cloud li a {
	padding: 0px 0px 6px;
	}
/*rvt tag cloud*/

.blog-title {
	display: none;
	}

#header .description { /* Description in header */
	display: none;
	}

.page-head {
	margin: 5px 0px 10px 0px;
	}

.archivepages {
	display: none;
	}


/* Secondary H4 is sidebar headlines */
.secondary h4 {
	padding: 0px 0px 2px 0px;
	border-bottom: 1px solid #D8D8D8;
	}

#text-6 h4 { border: none; }

/*- Primary Contents */

.hentry {
	margin: 5px 0 0px;
	}

.entry-content {
	line-height: 1.2em;
	}

.entry-content p {
	margin: 10px 0px 8px 0px;
	/*overflow: hidden;*/
	}

.entry-head .entry-meta {
	background: none;
	padding-left: 0px;
	}

.entry-meta {
	line-height: 1.2em;
	padding-bottom: 2px;
	}

.entry-tags {
	padding: 0px;
	background: none;
	}

.entry-head .entry-tags {
	margin-left: 0px;
	}

/*- Rolling Archives */

#rollingarchives {
	padding: 7px 0px 20px;
	width: 518px;
	}

body.smartposition #rollingarchives {
	width: 518px;
	}

#pagetrackwrap {
	top: 12px;
	left: 152px;
	}

#rollnext,
#rollprevious{
	background-color: #F0F0F0;
	border:1px solid #ddd;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	padding: 5px;
	color: #06c; 
	font-size: 120%;
	}

#rollingcontent {
	margin: 10px 0px;
	}

#rollpages {
	font-size: 120%; 
	padding: 5px;
	}

#rollload {
	top: 7px;
	}

#texttrimmer {
	top: 5px;
	}

.entry-title, h3 { /* H3 is entry headlines. H4 is comments and replyform headlines */
	font-family: 'Lucida Grande', 'Lucida Sans','Lucida Sans Unicode', Helvetica, Arial, sans-serif; 
	font-size: 1.5em;
	letter-spacing: 0px;
	line-height: 1.1em;
	padding: 3px 0px 3px 2px;
	}

h4 {
	font-family: 'Lucida Grande', 'Lucida Sans','Lucida Sans Unicode', Helvetica, Arial, sans-serif; 
	font-size: 1.3em;
	}

.entry-title, .entry-title a, .entry-title a:visited,
h3, h3 a, h3 a:visited {
	color: #27d;
	}

.entry-content a:hover {
	text-decoration: underline;
	}

.entry-content a:visited {
	/*color: #b41;*/
	color: #27d;
	}

.entry-head {
	margin-top: 3px;
	padding-left: 2px;
	border-top: 1px solid #A4A4A4;
	border-bottom: 1px solid #D8D8D8;
	background-color:#F0F0F0;
	}

h3.entry-title {
	padding: 1px 0px 3px 1px;
	}
	
.conferencetitle {
	border-top: 1px solid #969696;
	border-bottom: 1px solid #969696;
	background-color: #F0F0F0;
	}

#conference-title {
	margin: 0px;
	padding: 0px;
	font-size: 1.2em;
	}

.page-head h1 {
	font-family: 'Lucida Grande', 'Lucida Sans','Lucida Sans Unicode', Helvetica, Arial, sans-serif;
	font-size: 2em;
	text-align: left;
	border-top: 1px solid #A4A4A4;
	border-bottom: 1px solid #D8D8D8;
	background-color:#F0F0F0;
	padding: 3px 5px;
	margin: 0 0 10px 0;
/*
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
*/
	}

/* table of contents
---------------------------------*/

.toc-background {
	margin:10px 0px;
	padding: 0.6em;
	border: 1px solid #ddd;
	background-color: #eee;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	}

.toc-background h4 {
	font-family: 'Lucida Grande', 'Lucida Sans','Lucida Sans Unicode', Helvetica, Arial, sans-serif;
	color: #333;
	font-size: 1.15em;
	text-align: left;
	margin: 0 0 .5em 0;
	padding: 0 0 .5em 0;
	border-bottom: 1px solid #ccc;
	}

.toc-background p.button-slide {
display: block;
color: #0066CC;
font-size: 100%;
background: transparent url(/web/20100831172047/http://river-valley.tv/wp-content/themes/rivervalleytv/images/open-contents.png) no-repeat left center;
padding: 0 0 0 1em;
text-align: left;
font-size: 90%;
margin: 1em 0 0 0;
}

.toc-background p.active {
	background: transparent url(/web/20100831172047/http://river-valley.tv/wp-content/themes/rivervalleytv/images/close-contents.png) no-repeat left center;
	}

.toc-background .button-slide:hover {
	cursor: pointer;
	text-decoration: underline;
	}

.toc-background ol.lcp_catlist {
	margin: 0;
	padding: 0 0 0 3em;
	}

.toc-background ol.lcp_catlist li {
	margin: 0 0 .2em 0;
	}

.toc-background ol.lcp_catlist li a:visited {
	/*color: #b41;*/
	color: #27d;
	}

#toc {
	display: none;
	position: relative;
	background: transparent;
	padding: 0;
	margin: 0;
	}


/*Dropdown menu */
#sidebar {
	display: block;
	z-index: 5;
	padding: 0;
	
	position: absolute; 
	margin-left: 12px; 
	margin-top: 105px; 
	width: 98%;
	bottom: 0;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	font-size: 12px;
}

#sidebar ul {
	width:98%;
	min-height: 25px;
	list-style-type: none;
	padding: 0;
	margin: 0;
	z-index: 500;
	display: block; 
}


#sidebar li {
	display: block;
	float: left;
	position: relative;
	text-align: left;
	margin: 0px 5px 0px 0px;
	background:#F0F0F0 url('/web/20100831172047/http://river-valley.tv/wp-content/themes/rivervalleytv/images/gray-bg.png') repeat;
	border: 1px solid #ddd;
	border-bottom: none;
	margin-right: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;

}


#sidebar li a {
	display: block;
	padding: 5px 10px 5px;
}

#sidebar li ul {
	display: block;
	width: 150px;
	height: auto;
	top: 100%;
	left: 0px;
}

#sidebar li ul li {
	display: block;
	text-align: left;
	width: 170px;	
	height: auto;
	min-height: auto;
}

#sidebar a {
	text-decoration: none;
	display: block;
	}

#sidebar li li ul {
	top: 0;
	left: 0;
}

#sidebar li li:hover ul {
	left: 150px;
}

/* initialy hide all sub sidemenus */
#sidebar ul ul,
#sidebar ul li:hover ul ul,
#sidebar ul ul li:hover ul ul,
#sidebar ul ul ul li:hover ul ul,
#sidebar ul ul ul ul li:hover ul ul {
	display: none;
	position: absolute;
}

/* display them on hover */
#sidebar li:hover ul,
#sidebar ul li:hover ul,
#sidebar ul ul li:hover ul,
#sidebar ul ul ul li:hover ul,
#sidebar ul ul ul ul li:hover ul,
#sidebar ul ul ul ul ul li:hover ul {
  display: block;
}

/* colors */

#sidebar {
	color: #333333; 
}


#sidebar h2 {
	color: #FFFFFF;
}

#sidebar a {
	color: #333333;
	display: block;
	}

#sidebar li a:hover {
	color: #fff;
	display: block;
	}

#sidebar ul li a:hover {
	background: #999; 
	color: #fff;
	padding: 5px 10px 5px;	
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;	
}

#sidebar ul li:hover {
	background: #999; 
	color: #fff;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;	
}

#sidebar ul li ul li {
	background: #999; 
}

#sidebar ul li ul li:hover {
	background: #999;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;	
}

#sidebar ul li ul ul li{
	background: #666666;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;		
}

#sidebar ul li ul ul li:hover {
	background: #999;	
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;		
}

#sidebar li a {
display: block;
}

#sidebar > ul > li > a { /* Top Menu */
	margin-left: 0px;
	border: 1px solid #fff;
	border-bottom: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	}


#sidebar ul li.current_page_parent
{ 
	background: white;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

#sidebar ul li.current_page_item a,
#sidebar ul li.current_page_parent a
{
	color: #333;
	margin-bottom: -1px;
	margin-left: 0px;
	border-bottom: 1px solid #fff;	
}

#sidebar ul li.current_page_item a:hover,
#sidebar ul li.current_page_parent a:hover
{
	color: #fff;
	background: #999;
}


#sidebar ul li.current_page_item li a,
#sidebar ul li.current_page_parent li a
{
	color: #333;
}

#sidebar ul li.current_page_parent li.current_page_item a 
{
	color: #333;
	background: #999;
}

#sidebar ul li.current_page_parent li.current_page_item a:hover
{
	color: #fff;
	background: #999;
}


#sidebar ul li.current_page_parent:hover
{
	background: #999;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

#sidebar ul li.current_page_parent a:hover
{
	background: #999;
	color: #fff;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

#sidebar ul li.current_page_item { 
	background: white;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
/*
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
*/
}

#sidebar ul li.current_page_item:hover {
	background: #999;
	color: #FFF;
}
/*Dropdown menu*/

.hideline { width: 220px; height: 6px; background: #F0F0F0; margin-top: 128px; margin-left: 550px; position: absolute; } /*header bottom line*/


/* Parent category title */
ul li.cat-item {
	padding: .1em 0;
}

ul li.cat-item a {
	color:#182B78;
	font-size:120%;
	font-weight:bold;
	padding: .1em .2em;
	}

ul ul.children li a {
	color:#0066CC;
	font-size:110%;
	font-weight: bold;
	}

ul ul.children li.current-cat a,
ul ul.children li.current-cat a:hover { /*Style for highlighting current category*/
	color: #fff;
	background-color:#0066CC;
	text-decoration: none;
	}

ul ul.children ul.children li a,
ul ul.children li.current-cat ul.children li a {
	font-size:100%;
	font-weight: normal;
	background-color:transparent;
	color:#0066CC;
	}

.cat-item a:hover,
ul ul.children li.current-cat-parent ul.children li.cat-item a:hover {
	text-decoration: underline;
	background: transparent;
	}

ul ul.children li.current-cat-parent ul.children li.current-cat a,
ul ul.children li.current-cat-parent ul.children li.current-cat a:hover { /*Style for highlighting current category*/
	color: #fff;
	background-color:#0066CC;
	text-decoration: none;
	}
/* Parent category title */

/*For collapsible categories*/

.widget_collapscat ul.collapsing.categories.list .sym {
    cursor:pointer;}
    
.widget_collapscat h4 { display: none; }

.widget_collapscat ul li.collapsing a {
color:#182B78;
font-size:120%;
font-weight:bold;
padding: .1em .2em 0.1em 5px;
}

.widget_collapscat ul ul li.collapsing a {
color:#0066CC;
font-size:110%;
font-weight: bold;
}

.widget_collapscat ul ul ul li.collapsing a {
color:#0066CC;
font-size:100%;
font-weight: normal;
}/*For collapsible categories*/

.speakername { 
	font-family: 'Lucida Grande','Lucida Sans','Lucida Sans Unicode','Verdana','Helvetica','Arial','sans-serif';  
	font-size: 0.9em;
	font-style: normal;
	font-variant: normal;
	font-weight: bolder;
	letter-spacing: 0;
	line-height: 0.8em;
	margin: 0px;
	opacity: 1.00;
	padding: 0px;
	text-align: left;
	text-decoration: none;
	text-indent: 0px;
	text-transform: none;
	}
 
.speaker_affiliation { 
	font-family:'Lucida Grande','Lucida Sans','Lucida Sans Unicode','Verdana','Helvetica','Arial','sans-serif';  
	font-size: 0.8em;
	font-style: italic;
	color: #777;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0;
	line-height: 1.3em;
	margin: 0px;
	opacity:1.0;
	padding: 0px;
	text-align: left;
	text-decoration: none;
	text-indent: 0px;
	text-transform: none;
	}

#conference_date {
	font-family: 'Lucida Grande','Lucida Sans','Lucida Sans Unicode','Verdana','Helvetica','Arial','sans-serif';  
	font-size: 0.8em;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-align: left;
	color: #777;
	line-height: 0.8em;
	margin: 3px 0px 5px 112px;
	padding: 2px 0px 3px 0px;
	border-bottom: 1px solid #BDBDBD;
	}
 
.more-details {
	font-family: 'Lucida Grande','Lucida Sans','Lucida Sans Unicode','Verdana','Helvetica','Arial','sans-serif';
	font-size: 0.8em;
	font-style: normal;
	color: #777;
	font-variant: normal;
	font-weight: normal;
	line-height: 0.4em;
	width: 75px;
	text-align: right;
	}

.more-details span {
	font-size: 15px;
	margin:0px;
	}
	
#more-details-position {
	position: absolute;
	margin-top: -78px;
	margin-left: 443px;
	margin-bottom: 0px;
	}

#content-margin {
	margin: 3px 0px 3px 0px;
	}

#content-margin p {
	margin: 0px;
	}
#content-margin img	{
	padding-top: 3px;
	}
#entry-icon {
	vertical-align: top;
	width: 105px;
	}

#preview-icon {
	vertical-align: top;
	width: 100px;
	height: 100px;
	margin: 0px 5px 5px 0px;
	border: 1px solid #BDBDBD;
	padding: 3px;
	float: left;
	}

#play {
	font-size: 0.9em;
	width: 100px;
	padding-top: 36px
	}
#play a { background: #333; color: #fff; padding: 2px 5px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#play a:hover { text-decoration: none; background: #ddd; color: #333; padding: 1px 4px; border: 1px solid #333; }


.download {
	font-size: 0.9em;
	font-variant: normal;
	font-weight: normal;
	}

.download-formats {
	font-size: 0.8em;
	font-variant: normal;
	font-weight: normal;
	}

#entry-description {
	margin:5px 0px 5px 0px;
	}

.views_ratings {
	/*color:#999;
	padding: 0px;
	margin: .2em 0em;*/
	color: #777;
	float: right;
	padding: 0px 3px 0px 0px;	
	}

#linkcat-32 {
	margin: 10px 0px;
	}

#archives {
	margin: 10px 0px;
	}

#categories-286302851 {
	margin: 10px 0px;
	}

#meta {
	margin: 10px 0px;
	}

#conferences-info-div {
	overflow: hidden; 
	margin: 0px 0px 5px 0px; 
	padding: 0px;
	}

#conferences-info-div span {
	font-size: 15px;
	margin:0px;
	}


#conferences-info-margin-div {
	margin: 0px; 
	padding: 0px;
	}

/*Contact form*/
#betatitle {
	font-family: 'Lucida Grande', 'Lucida Sans','Lucida Sans Unicode', Helvetica, Arial, sans-serif; 
	font-weight: normal; 
	text-align: left;
	}

.screenReader { 
	left: -9999px;
	position: absolute;
	top: -9999px; 
	}

.thanks {
	background: #F2F3F6;
	border: 1px solid #7E8AA2;
	padding: 10px;
	margin: 10px 0px 15px 0px;
	width: 398px;
	font-size: 12px;
	}

/*****Forms*****/
ol.forms {
	float: left;
	list-style: none;
	margin: 0;
	width: 100%;
	}

ol.forms li { 
	clear: both; 
	float: left; 
	margin-bottom: 18px; 
	position: relative;
	width: 100%;
	}

ol.forms label {
	cursor: pointer;
	display: block;
	float: left;
	font-size: 1.2em;
	font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode",Verdana,Helvetica,Arial,sans-serif;
	font-weight: normal;
	letter-spacing: 0px;
	padding-right: 20px;
	width: 70px;
	}

ol.forms input, ol.forms textarea {
	border: 1px solid #7E8AA2;
	border-radius: 3px;
	font: inherit;
	-moz-border-radius: 3px;
	padding: 2px;
	-webkit-border-radius: 3px;
	width: 214px;
	}

ol.forms textarea {
	height: 270px;
	width: 302px;
	}

ol.forms input:focus, ol.forms textarea:focus {
	background-color: #f2f3f6;
	border-color: #66FF00;
	}

.error {
	color: #f00;
	}

ol.forms li .error {
	font-size: 10px;
	margin-left: 20px; 
	}

ol.forms li.textarea .error {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
	}

ol.forms li.screenReader {
	margin-bottom: 0; 
	}

ol.forms li.buttons button {
	background: #BDBDBD;
	border: none;
	color: #000;
	cursor: pointer;
	font: 16px/16px "Avenir LT Std", Helvetica, Arial, sans-serif;
	overflow: hidden;
	padding: 6px 3px 3px 3px;
	text-transform: uppercase;
	width: auto;
	margin-left: 30px;
	}

ol.forms li.buttons button:hover { 
	color: #222;
	}

ol.forms li.buttons button:active {
	left: -1px;
	position: relative;
	top: -1px;
	}

ol.forms li.buttons, ol.forms li.inline {
	float: right;
	width: 460px;
	}

ol.forms li.inline input {
	width: auto;
	margin-left: 30px;
	}

ol.forms li.inline label {
	display: inline;
	float: none;
	width: auto;
	}
/*Contact form*/

/* to hide previous and next navigation links */
#nav-below {
	display: none;
	}
#nav-above {
	display: none;
	}

.widget_categories h4 { /*to hide category heading*/
	display: none;
	}

.comments form #submit {
	float: left;
	margin-top: 5px;
	}

.comment-head {
	border-top: 2px solid #ddd; 
	border-bottom: 1px solid #ddd; 
	padding: 3px 0px;
	}

#commentlist li .comment-content {
	font-size: 1.1em;
	text-align: justify;
	line-height: 1.3em;
	}

#commentlist .comment {
	padding: 0px 10px;
	}

.comment-content p,
.comment-content ul,
.comment-content ol,
.comment-content div,
.comment-content blockquote {
	margin: 5px 0;
	}

#footer {
	width: 782px;
	font-size: 0.9em;
	}

#footer a {
	color: #888;
	border-bottom: none;
	text-decoration: underline;
	font-size: 0.9em;
	}

#footer a:hover {
	color: #333;
	}

	
.footerfeedlinks {
	display: none;
	}

img#wpstats {
	display: none;
	}

/*NextGen thumbnail gallery */
.entry-content div.ngg-gallery-thumbnail, 
.entry-content div.ngg-gallery-thumbnail-box {
	margin: 0px;
	}
/*NextGen thumbnail gallery */

/*WP-Postviews*/
/*#postviews {
	color: #777;
	float: right;
	padding: 0px 3px 0px 0px;	
	}*/

.homelink {
/*
	background-image:url('/web/20100831172047/http://river-valley.tv/wp-content/themes/rivervalleytv/images/rvt-logo.png');
	background-repeat: no-repeat;
	background-position: top left;
*/
	position: absolute;
	width: 450px;
	height: 100px;
	margin: 0px;
	padding: 0px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	}

/*
+----------------------------------------------------------------+
|																							|
|	WordPress 2.8 Plugin: WP-PageNavi 2.50									|
|	Copyright (c) 2009 Lester "GaMerZ" Chan									|
|																							|
|	File Written By:																	|
|	- Lester "GaMerZ" Chan															|
|	- http://lesterchan.net															|
|																							|
|	File Information:																	|
|	- Page Navigation CSS Style													|
|	- wp-content/plugins/wp-pagenavi/pagenavi-css.css					|
|																							|
+----------------------------------------------------------------+
*/

.wp-pagenavi {
	margin-left: 3px;
	}

.wp-pagenavi a, .wp-pagenavi a:link {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	border: 1px solid #0066cc;
	color: #0066cc;
	font-weight: bold;
	background-color: #FFFFFF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	}
	
.wp-pagenavi a:visited {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	border: 1px solid #0066cc;
	color: #0066cc;
	background-color: #FFFFFF;	
}
.wp-pagenavi a:hover {	
	border: 1px solid #b41;
	color: #b41;
	background-color: #ddd;
}
.wp-pagenavi a:active {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	border: 1px solid #0066cc;
	color: #0066cc;
	background-color: #FFFFFF;	
}
.wp-pagenavi span.pages {
	padding: 2px 4px 2px 4px; 
	margin: 2px 2px 2px 2px;
	color: #999;
/*
	color: #000000;
	border: 1px solid #000000;
*/
	background-color: #FFFFFF;
	}

.pages {
	font-weight: bold; 
	font-size: 110%;
	}

.wp-pagenavi span.current {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	font-weight: bold;
	border: 1px solid #333;
	color: #333;
	background-color: #F0F0F0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	}

.wp-pagenavi span.extend {
	padding: 2px 4px 2px 4px; 
	margin: 2px;	
	border: 1px solid #333;
	color: #333;
	background-color: #FFFFFF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	}

.post-ratings { padding-left: 10px; margin-top: 15px; }

/* ----------- Gallery style -------------*/

.lgm-galleryoverview {
	margin-top: 5px;
	text-align: center;
	width: 100%;
	clear:both; 
	display:block !important;
}

.lgm-gallery-thumbnail-box {
	float: left;
	margin: 0px;
}

.lgm-gallery-thumbnail {
	float: left; 
	margin: 10px 0 0 10px !important;
}

.lgm-gallery-thumbnail img {
	margin: -6px 6px 6px -6px;
	background-color:#FFFFFF;
	border:1px solid #A9A9A9;
	display:block; 
	padding:4px;
	position:relative;
}

.lgm-gallery-thumbnail img:hover {
	background-color: #A9A9A9;
} 

.lgm-gallery-thumbnail span {
	display:none;
}

.lgm-clear {
	clear: both;
}
/* ----------- Gallery style -------------*/