div.item {
	float: left;
	width: 480px;
	position: relative;
}
div.item .caption {
	position: absolute;
	left: 0;
	bottom: 0;
	color: white;
	text-shadow: 0.1em 0.1em #333;
	padding: 5px;
}
.title {
	color: orange;
}