div.item {
	width: 480px;
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
	margin-right: 10px;
	float: left;
}
div.item .caption {
	position: absolute;
	left: 0;
	bottom: 0;
	color: white;
	text-shadow: 0.1em 0.1em #333;
	padding: 5px;
}
.title {
	color: orange;
}