<ul id="browse-items-primary">
      
      
      
        <script type="application/ld+json">
    {"@type":"ItemList","itemListElement":[],"@context":"http:\/\/schema.org"}
  </script>
      <li>
          
  <div id="pl-video-list" class=" pl-video-list" data-playlist-id="PL095A40A9E5123EF6" data-can-reorder-videos="True" data-playlist-edit-xsrf-token="QUFFLUhqbHZxeTgwX3BhUHRYOVdTSF9GY1FRUXNsU19VUXxBQ3Jtc0ttRm5LZURmaUtfUUJXa2NzcFZocFVhc0VuOG1PWTBJWFBwbjF2Q2xhTmNhcS1HN185elhHNS1FSXQzd21uTDc4dVBCWURwRkxUZF9mSVVHc2tVLUYzdmZkZ0R2eGNqelctUGF3NnVKOTF3bTdFaXJ6dGRxeGJkU1BRUXF6Zk9fZnd3M2YwMVRUcmZVWkE4NnBKb3JRS3JOVjBscHc=" data-like-xsrf-token="QUFFLUhqbHZxeTgwX3BhUHRYOVdTSF9GY1FRUXNsU19VUXxBQ3Jtc0ttRm5LZURmaUtfUUJXa2NzcFZocFVhc0VuOG1PWTBJWFBwbjF2Q2xhTmNhcS1HN185elhHNS1FSXQzd21uTDc4dVBCWURwRkxUZF9mSVVHc2tVLUYzdmZkZ0R2eGNqelctUGF3NnVKOTF3bTdFaXJ6dGRxeGJkU1BRUXF6Zk9fZnd3M2YwMVRUcmZVWkE4NnBKb3JRS3JOVjBscHc=">
    <table id="pl-video-table" class="pl-video-table">
      <tbody id="pl-load-more-destination">
            
<tr class="pl-video yt-uix-tile " data-video-id="GVH3ykJiNt0" data-set-video-id="" data-title="Richard Hughes: ColorHug - The Open Hardware Colorimeter"><td class="pl-video-handle "></td><td class="pl-video-index"></td><td class="pl-video-thumbnail"><span class="pl-video-thumb ux-thumb-wrap contains-addto"><a href="/watch?v=GVH3ykJiNt0&amp;index=1&amp;list=PL095A40A9E5123EF6" class="yt-uix-sessionlink" aria-hidden="true" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CDwQxjQ&amp;feature=plpp_video">  <span class="video-thumb  yt-thumb yt-thumb-72">
    <span class="yt-thumb-default">
      <span class="yt-thumb-clip">
        <img src="//i.ytimg.com/vi/GVH3ykJiNt0/default.jpg" alt="" aria-hidden="true" width="72">
        <span class="vertical-align"></span>
      </span>
    </span>
  </span>
</a>  <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button onclick=";return false;" aria-expanded="false" type="button" aria-haspopup="true" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="GVH3ykJiNt0"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="GVH3ykJiNt0"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>


  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button yt-uix-tooltip" type="button" onclick=";return false;" title="Watch Later" role="button" data-video-ids="GVH3ykJiNt0"></button>
  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-video-ids="GVH3ykJiNt0" data-style="tv-queue"></button>
</span></td>  <td class="pl-video-title">
    <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink  spf-link " dir="ltr" href="/watch?v=GVH3ykJiNt0&amp;index=1&amp;list=PL095A40A9E5123EF6" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CDwQxjQ&amp;feature=plpp_video">
      Richard Hughes: ColorHug - The Open Hardware Colorimeter
    </a>
      <div class="pl-video-owner">
by <a href="/user/Animtim" class=" yt-uix-sessionlink     spf-link  g-hovercard" data-ytid="UC5O7hbp4wR2XTfwvEVtE1tw" data-name="playlist" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CDwQxjQ&amp;feature=playlist">Timothée Giet</a>
      </div>
  </td>
<td class="pl-video-badges"></td><td class="pl-video-added-by"></td><td class="pl-video-time"><div class="more-menu-wrapper">  <div class="timestamp"><span title="42 minutes">42:17</span></div>
<div class="pl-video-edit-options"></div></div></td></tr>
    
<tr class="pl-video yt-uix-tile " data-video-id="9EL-mgiEBq0" data-set-video-id="" data-title="Kai-Uwe Behrmann: Evolving Concepts for Colour Management"><td class="pl-video-handle "></td><td class="pl-video-index"></td><td class="pl-video-thumbnail"><span class="pl-video-thumb ux-thumb-wrap contains-addto"><a href="/watch?v=9EL-mgiEBq0&amp;index=2&amp;list=PL095A40A9E5123EF6" class="yt-uix-sessionlink" aria-hidden="true" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CD0QxjQ&amp;feature=plpp_video">  <span class="video-thumb  yt-thumb yt-thumb-72">
    <span class="yt-thumb-default">
      <span class="yt-thumb-clip">
        <img src="//i.ytimg.com/vi/9EL-mgiEBq0/default.jpg" alt="" aria-hidden="true" width="72">
        <span class="vertical-align"></span>
      </span>
    </span>
  </span>
</a>  <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button onclick=";return false;" aria-expanded="false" type="button" aria-haspopup="true" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="9EL-mgiEBq0"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="9EL-mgiEBq0"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>


  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button yt-uix-tooltip" type="button" onclick=";return false;" title="Watch Later" role="button" data-video-ids="9EL-mgiEBq0"></button>
  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-video-ids="9EL-mgiEBq0" data-style="tv-queue"></button>
</span></td>  <td class="pl-video-title">
    <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink  spf-link " dir="ltr" href="/watch?v=9EL-mgiEBq0&amp;index=2&amp;list=PL095A40A9E5123EF6" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CD0QxjQ&amp;feature=plpp_video">
      Kai-Uwe Behrmann: Evolving Concepts for Colour Management
    </a>
      <div class="pl-video-owner">
by <a href="/user/Animtim" class=" yt-uix-sessionlink     spf-link  g-hovercard" data-ytid="UC5O7hbp4wR2XTfwvEVtE1tw" data-name="playlist" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CD0QxjQ&amp;feature=playlist">Timothée Giet</a>
      </div>
  </td>
<td class="pl-video-badges"></td><td class="pl-video-added-by"></td><td class="pl-video-time"><div class="more-menu-wrapper">  <div class="timestamp"><span title="21 minutes">21:31</span></div>
<div class="pl-video-edit-options"></div></div></td></tr>
    
<tr class="pl-video yt-uix-tile " data-video-id="e2J3k_S1eb0" data-set-video-id="" data-title="Chris Lilley: Color Management in SVG2"><td class="pl-video-handle "></td><td class="pl-video-index"></td><td class="pl-video-thumbnail"><span class="pl-video-thumb ux-thumb-wrap contains-addto"><a href="/watch?v=e2J3k_S1eb0&amp;index=3&amp;list=PL095A40A9E5123EF6" class="yt-uix-sessionlink" aria-hidden="true" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CD4QxjQ&amp;feature=plpp_video">  <span class="video-thumb  yt-thumb yt-thumb-72">
    <span class="yt-thumb-default">
      <span class="yt-thumb-clip">
        <img src="//i.ytimg.com/vi/e2J3k_S1eb0/default.jpg" alt="" aria-hidden="true" width="72">
        <span class="vertical-align"></span>
      </span>
    </span>
  </span>
</a>  <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button onclick=";return false;" aria-expanded="false" type="button" aria-haspopup="true" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="e2J3k_S1eb0"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="e2J3k_S1eb0"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>


  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button yt-uix-tooltip" type="button" onclick=";return false;" title="Watch Later" role="button" data-video-ids="e2J3k_S1eb0"></button>
  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-video-ids="e2J3k_S1eb0" data-style="tv-queue"></button>
</span></td>  <td class="pl-video-title">
    <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink  spf-link " dir="ltr" href="/watch?v=e2J3k_S1eb0&amp;index=3&amp;list=PL095A40A9E5123EF6" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CD4QxjQ&amp;feature=plpp_video">
      Chris Lilley: Color Management in SVG2
    </a>
      <div class="pl-video-owner">
by <a href="/user/Animtim" class=" yt-uix-sessionlink     spf-link  g-hovercard" data-ytid="UC5O7hbp4wR2XTfwvEVtE1tw" data-name="playlist" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CD4QxjQ&amp;feature=playlist">Timothée Giet</a>
      </div>
  </td>
<td class="pl-video-badges"></td><td class="pl-video-added-by"></td><td class="pl-video-time"><div class="more-menu-wrapper">  <div class="timestamp"><span title="38 minutes">38:38</span></div>
<div class="pl-video-edit-options"></div></div></td></tr>
    
<tr class="pl-video yt-uix-tile " data-video-id="KBdpQ-daaJ8" data-set-video-id="" data-title="Kai-Uwe Behrmann: Colour Management a la Greek"><td class="pl-video-handle "></td><td class="pl-video-index"></td><td class="pl-video-thumbnail"><span class="pl-video-thumb ux-thumb-wrap contains-addto"><a href="/watch?v=KBdpQ-daaJ8&amp;index=4&amp;list=PL095A40A9E5123EF6" class="yt-uix-sessionlink" aria-hidden="true" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CD8QxjQ&amp;feature=plpp_video">  <span class="video-thumb  yt-thumb yt-thumb-72">
    <span class="yt-thumb-default">
      <span class="yt-thumb-clip">
        <img src="//i.ytimg.com/vi/KBdpQ-daaJ8/default.jpg" alt="" aria-hidden="true" width="72">
        <span class="vertical-align"></span>
      </span>
    </span>
  </span>
</a>  <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button onclick=";return false;" aria-expanded="false" type="button" aria-haspopup="true" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="KBdpQ-daaJ8"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="KBdpQ-daaJ8"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>


  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button yt-uix-tooltip" type="button" onclick=";return false;" title="Watch Later" role="button" data-video-ids="KBdpQ-daaJ8"></button>
  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-video-ids="KBdpQ-daaJ8" data-style="tv-queue"></button>
</span></td>  <td class="pl-video-title">
    <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink  spf-link " dir="ltr" href="/watch?v=KBdpQ-daaJ8&amp;index=4&amp;list=PL095A40A9E5123EF6" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CD8QxjQ&amp;feature=plpp_video">
      Kai-Uwe Behrmann: Colour Management a la Greek
    </a>
      <div class="pl-video-owner">
by <a href="/user/Animtim" class=" yt-uix-sessionlink     spf-link  g-hovercard" data-ytid="UC5O7hbp4wR2XTfwvEVtE1tw" data-name="playlist" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CD8QxjQ&amp;feature=playlist">Timothée Giet</a>
      </div>
  </td>
<td class="pl-video-badges"></td><td class="pl-video-added-by"></td><td class="pl-video-time"><div class="more-menu-wrapper">  <div class="timestamp"><span title="19 minutes">19:54</span></div>
<div class="pl-video-edit-options"></div></div></td></tr>
    
<tr class="pl-video yt-uix-tile " data-video-id="gzTyVkHsdjo" data-set-video-id="" data-title="Richard Hughes: colord - Linux Color Management Framework, One Year On"><td class="pl-video-handle "></td><td class="pl-video-index"></td><td class="pl-video-thumbnail"><span class="pl-video-thumb ux-thumb-wrap contains-addto"><a href="/watch?v=gzTyVkHsdjo&amp;index=5&amp;list=PL095A40A9E5123EF6" class="yt-uix-sessionlink" aria-hidden="true" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEAQxjQ&amp;feature=plpp_video">  <span class="video-thumb  yt-thumb yt-thumb-72">
    <span class="yt-thumb-default">
      <span class="yt-thumb-clip">
        <img src="//i.ytimg.com/vi/gzTyVkHsdjo/default.jpg" alt="" aria-hidden="true" width="72">
        <span class="vertical-align"></span>
      </span>
    </span>
  </span>
</a>  <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button onclick=";return false;" aria-expanded="false" type="button" aria-haspopup="true" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="gzTyVkHsdjo"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="gzTyVkHsdjo"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>


  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button yt-uix-tooltip" type="button" onclick=";return false;" title="Watch Later" role="button" data-video-ids="gzTyVkHsdjo"></button>
  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-video-ids="gzTyVkHsdjo" data-style="tv-queue"></button>
</span></td>  <td class="pl-video-title">
    <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink  spf-link " dir="ltr" href="/watch?v=gzTyVkHsdjo&amp;index=5&amp;list=PL095A40A9E5123EF6" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEAQxjQ&amp;feature=plpp_video">
      Richard Hughes: colord - Linux Color Management Framework, One Year On
    </a>
      <div class="pl-video-owner">
by <a href="/user/Animtim" class=" yt-uix-sessionlink     spf-link  g-hovercard" data-ytid="UC5O7hbp4wR2XTfwvEVtE1tw" data-name="playlist" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEAQxjQ&amp;feature=playlist">Timothée Giet</a>
      </div>
  </td>
<td class="pl-video-badges"></td><td class="pl-video-added-by"></td><td class="pl-video-time"><div class="more-menu-wrapper">  <div class="timestamp"><span title="37 minutes">37:09</span></div>
<div class="pl-video-edit-options"></div></div></td></tr>
    
<tr class="pl-video yt-uix-tile " data-video-id="TfB4rO2x1TY" data-set-video-id="" data-title="Fridrich Strba:Import filters for vector graphic formats in LibreOffice..."><td class="pl-video-handle "></td><td class="pl-video-index"></td><td class="pl-video-thumbnail"><span class="pl-video-thumb ux-thumb-wrap contains-addto"><a href="/watch?v=TfB4rO2x1TY&amp;index=6&amp;list=PL095A40A9E5123EF6" class="yt-uix-sessionlink" aria-hidden="true" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEEQxjQ&amp;feature=plpp_video">  <span class="video-thumb  yt-thumb yt-thumb-72">
    <span class="yt-thumb-default">
      <span class="yt-thumb-clip">
        <img src="//i.ytimg.com/vi/TfB4rO2x1TY/default.jpg" alt="" aria-hidden="true" width="72">
        <span class="vertical-align"></span>
      </span>
    </span>
  </span>
</a>  <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button onclick=";return false;" aria-expanded="false" type="button" aria-haspopup="true" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="TfB4rO2x1TY"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="TfB4rO2x1TY"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>


  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button yt-uix-tooltip" type="button" onclick=";return false;" title="Watch Later" role="button" data-video-ids="TfB4rO2x1TY"></button>
  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-video-ids="TfB4rO2x1TY" data-style="tv-queue"></button>
</span></td>  <td class="pl-video-title">
    <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink  spf-link " dir="ltr" href="/watch?v=TfB4rO2x1TY&amp;index=6&amp;list=PL095A40A9E5123EF6" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEEQxjQ&amp;feature=plpp_video">
      Fridrich Strba:Import filters for vector graphic formats in LibreOffice...
    </a>
      <div class="pl-video-owner">
by <a href="/user/Animtim" class=" yt-uix-sessionlink     spf-link  g-hovercard" data-ytid="UC5O7hbp4wR2XTfwvEVtE1tw" data-name="playlist" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEEQxjQ&amp;feature=playlist">Timothée Giet</a>
      </div>
  </td>
<td class="pl-video-badges"></td><td class="pl-video-added-by"></td><td class="pl-video-time"><div class="more-menu-wrapper">  <div class="timestamp"><span title="26 minutes">26:43</span></div>
<div class="pl-video-edit-options"></div></div></td></tr>
    
<tr class="pl-video yt-uix-tile " data-video-id="KaHSmr0cWO8" data-set-video-id="" data-title="Igor Novikov: sK1 Project Reloaded"><td class="pl-video-handle "></td><td class="pl-video-index"></td><td class="pl-video-thumbnail"><span class="pl-video-thumb ux-thumb-wrap contains-addto"><a href="/watch?v=KaHSmr0cWO8&amp;index=7&amp;list=PL095A40A9E5123EF6" class="yt-uix-sessionlink" aria-hidden="true" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEIQxjQ&amp;feature=plpp_video">  <span class="video-thumb  yt-thumb yt-thumb-72">
    <span class="yt-thumb-default">
      <span class="yt-thumb-clip">
        <img src="//i.ytimg.com/vi/KaHSmr0cWO8/default.jpg" alt="" aria-hidden="true" width="72">
        <span class="vertical-align"></span>
      </span>
    </span>
  </span>
</a>  <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button onclick=";return false;" aria-expanded="false" type="button" aria-haspopup="true" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="KaHSmr0cWO8"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="KaHSmr0cWO8"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>


  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button yt-uix-tooltip" type="button" onclick=";return false;" title="Watch Later" role="button" data-video-ids="KaHSmr0cWO8"></button>
  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-video-ids="KaHSmr0cWO8" data-style="tv-queue"></button>
</span></td>  <td class="pl-video-title">
    <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink  spf-link " dir="ltr" href="/watch?v=KaHSmr0cWO8&amp;index=7&amp;list=PL095A40A9E5123EF6" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEIQxjQ&amp;feature=plpp_video">
      Igor Novikov: sK1 Project Reloaded
    </a>
      <div class="pl-video-owner">
by <a href="/user/Animtim" class=" yt-uix-sessionlink     spf-link  g-hovercard" data-ytid="UC5O7hbp4wR2XTfwvEVtE1tw" data-name="playlist" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEIQxjQ&amp;feature=playlist">Timothée Giet</a>
      </div>
  </td>
<td class="pl-video-badges"></td><td class="pl-video-added-by"></td><td class="pl-video-time"><div class="more-menu-wrapper">  <div class="timestamp"><span title="14 minutes">14:23</span></div>
<div class="pl-video-edit-options"></div></div></td></tr>
    
<tr class="pl-video yt-uix-tile " data-video-id="hheWzVA6llc" data-set-video-id="" data-title="Behdad Esfahbod: GLyphy, a GPU-accelerated text rendering engine"><td class="pl-video-handle "></td><td class="pl-video-index"></td><td class="pl-video-thumbnail"><span class="pl-video-thumb ux-thumb-wrap contains-addto"><a href="/watch?v=hheWzVA6llc&amp;index=8&amp;list=PL095A40A9E5123EF6" class="yt-uix-sessionlink" aria-hidden="true" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEMQxjQ&amp;feature=plpp_video">  <span class="video-thumb  yt-thumb yt-thumb-72">
    <span class="yt-thumb-default">
      <span class="yt-thumb-clip">
        <img src="//i.ytimg.com/vi/hheWzVA6llc/default.jpg" alt="" aria-hidden="true" width="72">
        <span class="vertical-align"></span>
      </span>
    </span>
  </span>
</a>  <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button onclick=";return false;" aria-expanded="false" type="button" aria-haspopup="true" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="hheWzVA6llc"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="hheWzVA6llc"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>


  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button yt-uix-tooltip" type="button" onclick=";return false;" title="Watch Later" role="button" data-video-ids="hheWzVA6llc"></button>
  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-video-ids="hheWzVA6llc" data-style="tv-queue"></button>
</span></td>  <td class="pl-video-title">
    <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink  spf-link " dir="ltr" href="/watch?v=hheWzVA6llc&amp;index=8&amp;list=PL095A40A9E5123EF6" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEMQxjQ&amp;feature=plpp_video">
      Behdad Esfahbod: GLyphy, a GPU-accelerated text rendering engine
    </a>
      <div class="pl-video-owner">
by <a href="/user/Animtim" class=" yt-uix-sessionlink     spf-link  g-hovercard" data-ytid="UC5O7hbp4wR2XTfwvEVtE1tw" data-name="playlist" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEMQxjQ&amp;feature=playlist">Timothée Giet</a>
      </div>
  </td>
<td class="pl-video-badges"></td><td class="pl-video-added-by"></td><td class="pl-video-time"><div class="more-menu-wrapper">  <div class="timestamp"><span title="28 minutes">28:56</span></div>
<div class="pl-video-edit-options"></div></div></td></tr>
    
<tr class="pl-video yt-uix-tile " data-video-id="N6HivabHHnA" data-set-video-id="" data-title="Daniel Phillips: World Welder, Solid Modeling from a New Perspective"><td class="pl-video-handle "></td><td class="pl-video-index"></td><td class="pl-video-thumbnail"><span class="pl-video-thumb ux-thumb-wrap contains-addto"><a href="/watch?v=N6HivabHHnA&amp;index=9&amp;list=PL095A40A9E5123EF6" class="yt-uix-sessionlink" aria-hidden="true" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEQQxjQ&amp;feature=plpp_video">  <span class="video-thumb  yt-thumb yt-thumb-72">
    <span class="yt-thumb-default">
      <span class="yt-thumb-clip">
        <img src="//i.ytimg.com/vi/N6HivabHHnA/default.jpg" alt="" aria-hidden="true" width="72">
        <span class="vertical-align"></span>
      </span>
    </span>
  </span>
</a>  <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button onclick=";return false;" aria-expanded="false" type="button" aria-haspopup="true" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="N6HivabHHnA"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="N6HivabHHnA"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>


  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button yt-uix-tooltip" type="button" onclick=";return false;" title="Watch Later" role="button" data-video-ids="N6HivabHHnA"></button>
  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-video-ids="N6HivabHHnA" data-style="tv-queue"></button>
</span></td>  <td class="pl-video-title">
    <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink  spf-link " dir="ltr" href="/watch?v=N6HivabHHnA&amp;index=9&amp;list=PL095A40A9E5123EF6" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEQQxjQ&amp;feature=plpp_video">
      Daniel Phillips: World Welder, Solid Modeling from a New Perspective
    </a>
      <div class="pl-video-owner">
by <a href="/user/Animtim" class=" yt-uix-sessionlink     spf-link  g-hovercard" data-ytid="UC5O7hbp4wR2XTfwvEVtE1tw" data-name="playlist" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEQQxjQ&amp;feature=playlist">Timothée Giet</a>
      </div>
  </td>
<td class="pl-video-badges"></td><td class="pl-video-added-by"></td><td class="pl-video-time"><div class="more-menu-wrapper">  <div class="timestamp"><span title="28 minutes">28:34</span></div>
<div class="pl-video-edit-options"></div></div></td></tr>
    
<tr class="pl-video yt-uix-tile " data-video-id="nQDDxzAS_oE" data-set-video-id="" data-title="Ramon Miranda: Digital Painting with open source."><td class="pl-video-handle "></td><td class="pl-video-index"></td><td class="pl-video-thumbnail"><span class="pl-video-thumb ux-thumb-wrap contains-addto"><a href="/watch?v=nQDDxzAS_oE&amp;index=10&amp;list=PL095A40A9E5123EF6" class="yt-uix-sessionlink" aria-hidden="true" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEUQxjQ&amp;feature=plpp_video">  <span class="video-thumb  yt-thumb yt-thumb-72">
    <span class="yt-thumb-default">
      <span class="yt-thumb-clip">
        <img src="//i.ytimg.com/vi/nQDDxzAS_oE/default.jpg" alt="" aria-hidden="true" width="72">
        <span class="vertical-align"></span>
      </span>
    </span>
  </span>
</a>  <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button onclick=";return false;" aria-expanded="false" type="button" aria-haspopup="true" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="nQDDxzAS_oE"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="nQDDxzAS_oE"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>


  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button yt-uix-tooltip" type="button" onclick=";return false;" title="Watch Later" role="button" data-video-ids="nQDDxzAS_oE"></button>
  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-video-ids="nQDDxzAS_oE" data-style="tv-queue"></button>
</span></td>  <td class="pl-video-title">
    <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink  spf-link " dir="ltr" href="/watch?v=nQDDxzAS_oE&amp;index=10&amp;list=PL095A40A9E5123EF6" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEUQxjQ&amp;feature=plpp_video">
      Ramon Miranda: Digital Painting with open source.
    </a>
      <div class="pl-video-owner">
by <a href="/user/Animtim" class=" yt-uix-sessionlink     spf-link  g-hovercard" data-ytid="UC5O7hbp4wR2XTfwvEVtE1tw" data-name="playlist" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEUQxjQ&amp;feature=playlist">Timothée Giet</a>
      </div>
  </td>
<td class="pl-video-badges"></td><td class="pl-video-added-by"></td><td class="pl-video-time"><div class="more-menu-wrapper">  <div class="timestamp"><span title="34 minutes">34:11</span></div>
<div class="pl-video-edit-options"></div></div></td></tr>
    
<tr class="pl-video yt-uix-tile " data-video-id="3sgbJVqBLpQ" data-set-video-id="" data-title="Máirín Duffy, Emily Dirsh: An awesome FLOSS design collaboration workflow"><td class="pl-video-handle "></td><td class="pl-video-index"></td><td class="pl-video-thumbnail"><span class="pl-video-thumb ux-thumb-wrap contains-addto"><a href="/watch?v=3sgbJVqBLpQ&amp;index=11&amp;list=PL095A40A9E5123EF6" class="yt-uix-sessionlink" aria-hidden="true" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEYQxjQ&amp;feature=plpp_video">  <span class="video-thumb  yt-thumb yt-thumb-72">
    <span class="yt-thumb-default">
      <span class="yt-thumb-clip">
        <img src="//i.ytimg.com/vi/3sgbJVqBLpQ/default.jpg" alt="" aria-hidden="true" width="72">
        <span class="vertical-align"></span>
      </span>
    </span>
  </span>
</a>  <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button onclick=";return false;" aria-expanded="false" type="button" aria-haspopup="true" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="3sgbJVqBLpQ"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="3sgbJVqBLpQ"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>


  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button yt-uix-tooltip" type="button" onclick=";return false;" title="Watch Later" role="button" data-video-ids="3sgbJVqBLpQ"></button>
  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-video-ids="3sgbJVqBLpQ" data-style="tv-queue"></button>
</span></td>  <td class="pl-video-title">
    <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink  spf-link " dir="ltr" href="/watch?v=3sgbJVqBLpQ&amp;index=11&amp;list=PL095A40A9E5123EF6" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEYQxjQ&amp;feature=plpp_video">
      Máirín Duffy, Emily Dirsh: An awesome FLOSS design collaboration workflow
    </a>
      <div class="pl-video-owner">
by <a href="/user/Animtim" class=" yt-uix-sessionlink     spf-link  g-hovercard" data-ytid="UC5O7hbp4wR2XTfwvEVtE1tw" data-name="playlist" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEYQxjQ&amp;feature=playlist">Timothée Giet</a>
      </div>
  </td>
<td class="pl-video-badges"></td><td class="pl-video-added-by"></td><td class="pl-video-time"><div class="more-menu-wrapper">  <div class="timestamp"><span title="29 minutes">29:57</span></div>
<div class="pl-video-edit-options"></div></div></td></tr>
    
<tr class="pl-video yt-uix-tile " data-video-id="B-N_ZUbSgro" data-set-video-id="" data-title="Silvia Schiaulini: The importance of new tools to enable collective design process"><td class="pl-video-handle "></td><td class="pl-video-index"></td><td class="pl-video-thumbnail"><span class="pl-video-thumb ux-thumb-wrap contains-addto"><a href="/watch?v=B-N_ZUbSgro&amp;index=12&amp;list=PL095A40A9E5123EF6" class="yt-uix-sessionlink" aria-hidden="true" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEcQxjQ&amp;feature=plpp_video">  <span class="video-thumb  yt-thumb yt-thumb-72">
    <span class="yt-thumb-default">
      <span class="yt-thumb-clip">
        <img src="//i.ytimg.com/vi/B-N_ZUbSgro/default.jpg" alt="" aria-hidden="true" width="72">
        <span class="vertical-align"></span>
      </span>
    </span>
  </span>
</a>  <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button onclick=";return false;" aria-expanded="false" type="button" aria-haspopup="true" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="B-N_ZUbSgro"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="B-N_ZUbSgro"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>


  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button yt-uix-tooltip" type="button" onclick=";return false;" title="Watch Later" role="button" data-video-ids="B-N_ZUbSgro"></button>
  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-video-ids="B-N_ZUbSgro" data-style="tv-queue"></button>
</span></td>  <td class="pl-video-title">
    <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink  spf-link " dir="ltr" href="/watch?v=B-N_ZUbSgro&amp;index=12&amp;list=PL095A40A9E5123EF6" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEcQxjQ&amp;feature=plpp_video">
      Silvia Schiaulini: The importance of new tools to enable collective design process
    </a>
      <div class="pl-video-owner">
by <a href="/user/Animtim" class=" yt-uix-sessionlink     spf-link  g-hovercard" data-ytid="UC5O7hbp4wR2XTfwvEVtE1tw" data-name="playlist" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEcQxjQ&amp;feature=playlist">Timothée Giet</a>
      </div>
  </td>
<td class="pl-video-badges"></td><td class="pl-video-added-by"></td><td class="pl-video-time"><div class="more-menu-wrapper">  <div class="timestamp"><span title="24 minutes">24:36</span></div>
<div class="pl-video-edit-options"></div></div></td></tr>
    
<tr class="pl-video yt-uix-tile " data-video-id="YDoEyXyzylk" data-set-video-id="" data-title="Helen Jamieson, Martin Eisenbarth: Re-Imagining UpStage"><td class="pl-video-handle "></td><td class="pl-video-index"></td><td class="pl-video-thumbnail"><span class="pl-video-thumb ux-thumb-wrap contains-addto"><a href="/watch?v=YDoEyXyzylk&amp;index=13&amp;list=PL095A40A9E5123EF6" class="yt-uix-sessionlink" aria-hidden="true" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEgQxjQ&amp;feature=plpp_video">  <span class="video-thumb  yt-thumb yt-thumb-72">
    <span class="yt-thumb-default">
      <span class="yt-thumb-clip">
        <img src="//i.ytimg.com/vi/YDoEyXyzylk/default.jpg" alt="" aria-hidden="true" width="72">
        <span class="vertical-align"></span>
      </span>
    </span>
  </span>
</a>  <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button onclick=";return false;" aria-expanded="false" type="button" aria-haspopup="true" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="YDoEyXyzylk"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="YDoEyXyzylk"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>


  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button yt-uix-tooltip" type="button" onclick=";return false;" title="Watch Later" role="button" data-video-ids="YDoEyXyzylk"></button>
  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-video-ids="YDoEyXyzylk" data-style="tv-queue"></button>
</span></td>  <td class="pl-video-title">
    <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink  spf-link " dir="ltr" href="/watch?v=YDoEyXyzylk&amp;index=13&amp;list=PL095A40A9E5123EF6" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEgQxjQ&amp;feature=plpp_video">
      Helen Jamieson, Martin Eisenbarth: Re-Imagining UpStage
    </a>
      <div class="pl-video-owner">
by <a href="/user/Animtim" class=" yt-uix-sessionlink     spf-link  g-hovercard" data-ytid="UC5O7hbp4wR2XTfwvEVtE1tw" data-name="playlist" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEgQxjQ&amp;feature=playlist">Timothée Giet</a>
      </div>
  </td>
<td class="pl-video-badges"></td><td class="pl-video-added-by"></td><td class="pl-video-time"><div class="more-menu-wrapper">  <div class="timestamp"><span title="52 minutes">52:10</span></div>
<div class="pl-video-edit-options"></div></div></td></tr>
    
<tr class="pl-video yt-uix-tile " data-video-id="eWCmb3eIr6k" data-set-video-id="" data-title="Peter Sikking, Kate Price: rethinking text handling in GIMP"><td class="pl-video-handle "></td><td class="pl-video-index"></td><td class="pl-video-thumbnail"><span class="pl-video-thumb ux-thumb-wrap contains-addto"><a href="/watch?v=eWCmb3eIr6k&amp;index=14&amp;list=PL095A40A9E5123EF6" class="yt-uix-sessionlink" aria-hidden="true" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEkQxjQ&amp;feature=plpp_video">  <span class="video-thumb  yt-thumb yt-thumb-72">
    <span class="yt-thumb-default">
      <span class="yt-thumb-clip">
        <img src="//i.ytimg.com/vi/eWCmb3eIr6k/default.jpg" alt="" aria-hidden="true" width="72">
        <span class="vertical-align"></span>
      </span>
    </span>
  </span>
</a>  <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button onclick=";return false;" aria-expanded="false" type="button" aria-haspopup="true" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="eWCmb3eIr6k"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="eWCmb3eIr6k"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>


  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button yt-uix-tooltip" type="button" onclick=";return false;" title="Watch Later" role="button" data-video-ids="eWCmb3eIr6k"></button>
  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-video-ids="eWCmb3eIr6k" data-style="tv-queue"></button>
</span></td>  <td class="pl-video-title">
    <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink  spf-link " dir="ltr" href="/watch?v=eWCmb3eIr6k&amp;index=14&amp;list=PL095A40A9E5123EF6" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEkQxjQ&amp;feature=plpp_video">
      Peter Sikking, Kate Price: rethinking text handling in GIMP
    </a>
      <div class="pl-video-owner">
by <a href="/user/Animtim" class=" yt-uix-sessionlink     spf-link  g-hovercard" data-ytid="UC5O7hbp4wR2XTfwvEVtE1tw" data-name="playlist" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEkQxjQ&amp;feature=playlist">Timothée Giet</a>
      </div>
  </td>
<td class="pl-video-badges"></td><td class="pl-video-added-by"></td><td class="pl-video-time"><div class="more-menu-wrapper">  <div class="timestamp"><span title="39 minutes">39:23</span></div>
<div class="pl-video-edit-options"></div></div></td></tr>
    
<tr class="pl-video yt-uix-tile " data-video-id="UzBPUalkqg8" data-set-video-id="" data-title="Victor Oliveira: Implementing OpenCL support in GEGL and GIMP"><td class="pl-video-handle "></td><td class="pl-video-index"></td><td class="pl-video-thumbnail"><span class="pl-video-thumb ux-thumb-wrap contains-addto"><a href="/watch?v=UzBPUalkqg8&amp;index=15&amp;list=PL095A40A9E5123EF6" class="yt-uix-sessionlink" aria-hidden="true" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEoQxjQ&amp;feature=plpp_video">  <span class="video-thumb  yt-thumb yt-thumb-72">
    <span class="yt-thumb-default">
      <span class="yt-thumb-clip">
        <img src="//i.ytimg.com/vi/UzBPUalkqg8/default.jpg" alt="" aria-hidden="true" width="72">
        <span class="vertical-align"></span>
      </span>
    </span>
  </span>
</a>  <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button onclick=";return false;" aria-expanded="false" type="button" aria-haspopup="true" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="UzBPUalkqg8"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="UzBPUalkqg8"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>


  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button yt-uix-tooltip" type="button" onclick=";return false;" title="Watch Later" role="button" data-video-ids="UzBPUalkqg8"></button>
  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-video-ids="UzBPUalkqg8" data-style="tv-queue"></button>
</span></td>  <td class="pl-video-title">
    <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink  spf-link " dir="ltr" href="/watch?v=UzBPUalkqg8&amp;index=15&amp;list=PL095A40A9E5123EF6" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEoQxjQ&amp;feature=plpp_video">
      Victor Oliveira: Implementing OpenCL support in GEGL and GIMP
    </a>
      <div class="pl-video-owner">
by <a href="/user/Animtim" class=" yt-uix-sessionlink     spf-link  g-hovercard" data-ytid="UC5O7hbp4wR2XTfwvEVtE1tw" data-name="playlist" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEoQxjQ&amp;feature=playlist">Timothée Giet</a>
      </div>
  </td>
<td class="pl-video-badges"></td><td class="pl-video-added-by"></td><td class="pl-video-time"><div class="more-menu-wrapper">  <div class="timestamp"><span title="34 minutes">34:06</span></div>
<div class="pl-video-edit-options"></div></div></td></tr>
    
<tr class="pl-video yt-uix-tile " data-video-id="HFDbSQk9Ba0" data-set-video-id="" data-title="Øyvind Kolås, Michael Natterer: GeglBuffer, Goat invasion in GIMP, Petting Zoo with Goats"><td class="pl-video-handle "></td><td class="pl-video-index"></td><td class="pl-video-thumbnail"><span class="pl-video-thumb ux-thumb-wrap contains-addto"><a href="/watch?v=HFDbSQk9Ba0&amp;index=16&amp;list=PL095A40A9E5123EF6" class="yt-uix-sessionlink watched" aria-hidden="true" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEsQxjQ&amp;feature=plpp_video">  <span class="video-thumb  yt-thumb yt-thumb-72">
    <span class="yt-thumb-default">
      <span class="yt-thumb-clip">
        <img src="//i.ytimg.com/vi/HFDbSQk9Ba0/default.jpg" alt="" aria-hidden="true" width="72">
        <span class="vertical-align"></span>
      </span>
    </span>
  </span>
<div class="watched-badge">WATCHED</div></a>  <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button onclick=";return false;" aria-expanded="false" type="button" aria-haspopup="true" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="HFDbSQk9Ba0"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="HFDbSQk9Ba0"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>


  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button yt-uix-tooltip" type="button" onclick=";return false;" title="Watch Later" role="button" data-video-ids="HFDbSQk9Ba0"></button>
  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-video-ids="HFDbSQk9Ba0" data-style="tv-queue"></button>
</span></td>  <td class="pl-video-title">
    <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink  spf-link " dir="ltr" href="/watch?v=HFDbSQk9Ba0&amp;index=16&amp;list=PL095A40A9E5123EF6" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEsQxjQ&amp;feature=plpp_video">
      Øyvind Kolås, Michael Natterer: GeglBuffer, Goat invasion in GIMP, Petting Zoo with Goats
    </a>
      <div class="pl-video-owner">
by <a href="/user/Animtim" class=" yt-uix-sessionlink     spf-link  g-hovercard" data-ytid="UC5O7hbp4wR2XTfwvEVtE1tw" data-name="playlist" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEsQxjQ&amp;feature=playlist">Timothée Giet</a>
      </div>
  </td>
<td class="pl-video-badges"></td><td class="pl-video-added-by"></td><td class="pl-video-time"><div class="more-menu-wrapper">  <div class="timestamp"><span title="43 minutes">43:43</span></div>
<div class="pl-video-edit-options"></div></div></td></tr>
    
<tr class="pl-video yt-uix-tile " data-video-id="9r4JSYWAKvE" data-set-video-id="" data-title="Bassam Kurdali: Tube Open Movie, Blender 3D Animation in a Distributed Pipeline"><td class="pl-video-handle "></td><td class="pl-video-index"></td><td class="pl-video-thumbnail"><span class="pl-video-thumb ux-thumb-wrap contains-addto"><a href="/watch?v=9r4JSYWAKvE&amp;index=17&amp;list=PL095A40A9E5123EF6" class="yt-uix-sessionlink" aria-hidden="true" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEwQxjQ&amp;feature=plpp_video">  <span class="video-thumb  yt-thumb yt-thumb-72">
    <span class="yt-thumb-default">
      <span class="yt-thumb-clip">
        <img src="//i.ytimg.com/vi/9r4JSYWAKvE/default.jpg" alt="" aria-hidden="true" width="72">
        <span class="vertical-align"></span>
      </span>
    </span>
  </span>
</a>  <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button onclick=";return false;" aria-expanded="false" type="button" aria-haspopup="true" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="9r4JSYWAKvE"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="9r4JSYWAKvE"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>


  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button yt-uix-tooltip" type="button" onclick=";return false;" title="Watch Later" role="button" data-video-ids="9r4JSYWAKvE"></button>
  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-video-ids="9r4JSYWAKvE" data-style="tv-queue"></button>
</span></td>  <td class="pl-video-title">
    <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink  spf-link " dir="ltr" href="/watch?v=9r4JSYWAKvE&amp;index=17&amp;list=PL095A40A9E5123EF6" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEwQxjQ&amp;feature=plpp_video">
      Bassam Kurdali: Tube Open Movie, Blender 3D Animation in a Distributed Pipeline
    </a>
      <div class="pl-video-owner">
by <a href="/user/Animtim" class=" yt-uix-sessionlink     spf-link  g-hovercard" data-ytid="UC5O7hbp4wR2XTfwvEVtE1tw" data-name="playlist" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CEwQxjQ&amp;feature=playlist">Timothée Giet</a>
      </div>
  </td>
<td class="pl-video-badges"></td><td class="pl-video-added-by"></td><td class="pl-video-time"><div class="more-menu-wrapper">  <div class="timestamp"><span title="12 minutes">12:28</span></div>
<div class="pl-video-edit-options"></div></div></td></tr>
    
<tr class="pl-video yt-uix-tile " data-video-id="OXGSW_oAAy8" data-set-video-id="" data-title="Lukáš Tvrdý, Timothée Giet: Krita"><td class="pl-video-handle "></td><td class="pl-video-index"></td><td class="pl-video-thumbnail"><span class="pl-video-thumb ux-thumb-wrap contains-addto"><a href="/watch?v=OXGSW_oAAy8&amp;index=18&amp;list=PL095A40A9E5123EF6" class="yt-uix-sessionlink" aria-hidden="true" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CE0QxjQ&amp;feature=plpp_video">  <span class="video-thumb  yt-thumb yt-thumb-72">
    <span class="yt-thumb-default">
      <span class="yt-thumb-clip">
        <img src="//i.ytimg.com/vi/OXGSW_oAAy8/default.jpg" alt="" aria-hidden="true" width="72">
        <span class="vertical-align"></span>
      </span>
    </span>
  </span>
</a>  <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button onclick=";return false;" aria-expanded="false" type="button" aria-haspopup="true" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="OXGSW_oAAy8"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="OXGSW_oAAy8"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>


  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button yt-uix-tooltip" type="button" onclick=";return false;" title="Watch Later" role="button" data-video-ids="OXGSW_oAAy8"></button>
  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-video-ids="OXGSW_oAAy8" data-style="tv-queue"></button>
</span></td>  <td class="pl-video-title">
    <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink  spf-link " dir="ltr" href="/watch?v=OXGSW_oAAy8&amp;index=18&amp;list=PL095A40A9E5123EF6" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CE0QxjQ&amp;feature=plpp_video">
      Lukáš Tvrdý, Timothée Giet: Krita
    </a>
      <div class="pl-video-owner">
by <a href="/user/Animtim" class=" yt-uix-sessionlink     spf-link  g-hovercard" data-ytid="UC5O7hbp4wR2XTfwvEVtE1tw" data-name="playlist" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CE0QxjQ&amp;feature=playlist">Timothée Giet</a>
      </div>
  </td>
<td class="pl-video-badges"></td><td class="pl-video-added-by"></td><td class="pl-video-time"><div class="more-menu-wrapper">  <div class="timestamp"><span title="31 minutes">31:28</span></div>
<div class="pl-video-edit-options"></div></div></td></tr>
    
<tr class="pl-video yt-uix-tile " data-video-id="TY4R5PQeVMc" data-set-video-id="" data-title="Timothée Giet: Introducing Synfig Studio"><td class="pl-video-handle "></td><td class="pl-video-index"></td><td class="pl-video-thumbnail"><span class="pl-video-thumb ux-thumb-wrap contains-addto"><a href="/watch?v=TY4R5PQeVMc&amp;index=19&amp;list=PL095A40A9E5123EF6" class="yt-uix-sessionlink" aria-hidden="true" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CE4QxjQ&amp;feature=plpp_video">  <span class="video-thumb  yt-thumb yt-thumb-72">
    <span class="yt-thumb-default">
      <span class="yt-thumb-clip">
        <img src="//i.ytimg.com/vi/TY4R5PQeVMc/default.jpg" alt="" aria-hidden="true" width="72">
        <span class="vertical-align"></span>
      </span>
    </span>
  </span>
</a>  <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button onclick=";return false;" aria-expanded="false" type="button" aria-haspopup="true" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="TY4R5PQeVMc"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="TY4R5PQeVMc"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>


  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button yt-uix-tooltip" type="button" onclick=";return false;" title="Watch Later" role="button" data-video-ids="TY4R5PQeVMc"></button>
  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-video-ids="TY4R5PQeVMc" data-style="tv-queue"></button>
</span></td>  <td class="pl-video-title">
    <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink  spf-link " dir="ltr" href="/watch?v=TY4R5PQeVMc&amp;index=19&amp;list=PL095A40A9E5123EF6" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CE4QxjQ&amp;feature=plpp_video">
      Timothée Giet: Introducing Synfig Studio
    </a>
      <div class="pl-video-owner">
by <a href="/user/Animtim" class=" yt-uix-sessionlink     spf-link  g-hovercard" data-ytid="UC5O7hbp4wR2XTfwvEVtE1tw" data-name="playlist" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CE4QxjQ&amp;feature=playlist">Timothée Giet</a>
      </div>
  </td>
<td class="pl-video-badges"></td><td class="pl-video-added-by"></td><td class="pl-video-time"><div class="more-menu-wrapper">  <div class="timestamp"><span title="23 minutes">23:34</span></div>
<div class="pl-video-edit-options"></div></div></td></tr>
    
<tr class="pl-video yt-uix-tile " data-video-id="Jbd7GjRrrBc" data-set-video-id="" data-title="Konstantin Dmitriev: Remake - build system for animation projects"><td class="pl-video-handle "></td><td class="pl-video-index"></td><td class="pl-video-thumbnail"><span class="pl-video-thumb ux-thumb-wrap contains-addto"><a href="/watch?v=Jbd7GjRrrBc&amp;index=20&amp;list=PL095A40A9E5123EF6" class="yt-uix-sessionlink" aria-hidden="true" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CE8QxjQ&amp;feature=plpp_video">  <span class="video-thumb  yt-thumb yt-thumb-72">
    <span class="yt-thumb-default">
      <span class="yt-thumb-clip">
        <img src="//i.ytimg.com/vi/Jbd7GjRrrBc/default.jpg" alt="" aria-hidden="true" width="72">
        <span class="vertical-align"></span>
      </span>
    </span>
  </span>
</a>  <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button onclick=";return false;" aria-expanded="false" type="button" aria-haspopup="true" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="Jbd7GjRrrBc"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="Jbd7GjRrrBc"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>


  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button yt-uix-tooltip" type="button" onclick=";return false;" title="Watch Later" role="button" data-video-ids="Jbd7GjRrrBc"></button>
  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-video-ids="Jbd7GjRrrBc" data-style="tv-queue"></button>
</span></td>  <td class="pl-video-title">
    <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink  spf-link " dir="ltr" href="/watch?v=Jbd7GjRrrBc&amp;index=20&amp;list=PL095A40A9E5123EF6" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CE8QxjQ&amp;feature=plpp_video">
      Konstantin Dmitriev: Remake - build system for animation projects
    </a>
      <div class="pl-video-owner">
by <a href="/user/Animtim" class=" yt-uix-sessionlink     spf-link  g-hovercard" data-ytid="UC5O7hbp4wR2XTfwvEVtE1tw" data-name="playlist" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CE8QxjQ&amp;feature=playlist">Timothée Giet</a>
      </div>
  </td>
<td class="pl-video-badges"></td><td class="pl-video-added-by"></td><td class="pl-video-time"><div class="more-menu-wrapper">  <div class="timestamp"><span title="30 minutes">30:36</span></div>
<div class="pl-video-edit-options"></div></div></td></tr>
    
<tr class="pl-video yt-uix-tile " data-video-id="Hhs1Xn9wXjM" data-set-video-id="" data-title="Diego Barrios Romero: Coding for Synfig, Our road ahead"><td class="pl-video-handle "></td><td class="pl-video-index"></td><td class="pl-video-thumbnail"><span class="pl-video-thumb ux-thumb-wrap contains-addto"><a href="/watch?v=Hhs1Xn9wXjM&amp;index=21&amp;list=PL095A40A9E5123EF6" class="yt-uix-sessionlink" aria-hidden="true" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CFAQxjQ&amp;feature=plpp_video">  <span class="video-thumb  yt-thumb yt-thumb-72">
    <span class="yt-thumb-default">
      <span class="yt-thumb-clip">
        <img src="//i.ytimg.com/vi/Hhs1Xn9wXjM/default.jpg" alt="" aria-hidden="true" width="72">
        <span class="vertical-align"></span>
      </span>
    </span>
  </span>
</a>  <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button onclick=";return false;" aria-expanded="false" type="button" aria-haspopup="true" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="Hhs1Xn9wXjM"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="Hhs1Xn9wXjM"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>


  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button yt-uix-tooltip" type="button" onclick=";return false;" title="Watch Later" role="button" data-video-ids="Hhs1Xn9wXjM"></button>
  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-video-ids="Hhs1Xn9wXjM" data-style="tv-queue"></button>
</span></td>  <td class="pl-video-title">
    <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink  spf-link " dir="ltr" href="/watch?v=Hhs1Xn9wXjM&amp;index=21&amp;list=PL095A40A9E5123EF6" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CFAQxjQ&amp;feature=plpp_video">
      Diego Barrios Romero: Coding for Synfig, Our road ahead
    </a>
      <div class="pl-video-owner">
by <a href="/user/Animtim" class=" yt-uix-sessionlink     spf-link  g-hovercard" data-ytid="UC5O7hbp4wR2XTfwvEVtE1tw" data-name="playlist" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CFAQxjQ&amp;feature=playlist">Timothée Giet</a>
      </div>
  </td>
<td class="pl-video-badges"></td><td class="pl-video-added-by"></td><td class="pl-video-time"><div class="more-menu-wrapper">  <div class="timestamp"><span title="6 minutes, 33 seconds">6:33</span></div>
<div class="pl-video-edit-options"></div></div></td></tr>
    
<tr class="pl-video yt-uix-tile " data-video-id="teNkaSs_OmY" data-set-video-id="" data-title="Amir Hassan: SoundFumble, live sound generation with Gimp"><td class="pl-video-handle "></td><td class="pl-video-index"></td><td class="pl-video-thumbnail"><span class="pl-video-thumb ux-thumb-wrap contains-addto"><a href="/watch?v=teNkaSs_OmY&amp;index=22&amp;list=PL095A40A9E5123EF6" class="yt-uix-sessionlink" aria-hidden="true" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CFEQxjQ&amp;feature=plpp_video">  <span class="video-thumb  yt-thumb yt-thumb-72">
    <span class="yt-thumb-default">
      <span class="yt-thumb-clip">
        <img src="//i.ytimg.com/vi/teNkaSs_OmY/default.jpg" alt="" aria-hidden="true" width="72">
        <span class="vertical-align"></span>
      </span>
    </span>
  </span>
</a>  <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button onclick=";return false;" aria-expanded="false" type="button" aria-haspopup="true" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="teNkaSs_OmY"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="teNkaSs_OmY"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>


  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button yt-uix-tooltip" type="button" onclick=";return false;" title="Watch Later" role="button" data-video-ids="teNkaSs_OmY"></button>
  <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-video-ids="teNkaSs_OmY" data-style="tv-queue"></button>
</span></td>  <td class="pl-video-title">
    <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink  spf-link " dir="ltr" href="/watch?v=teNkaSs_OmY&amp;index=22&amp;list=PL095A40A9E5123EF6" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CFEQxjQ&amp;feature=plpp_video">
      Amir Hassan: SoundFumble, live sound generation with Gimp
    </a>
      <div class="pl-video-owner">
by <a href="/user/Animtim" class=" yt-uix-sessionlink     spf-link  g-hovercard" data-ytid="UC5O7hbp4wR2XTfwvEVtE1tw" data-name="playlist" data-sessionlink="ei=0u09VfHCNo7LcsOXgJAK&amp;ved=CFEQxjQ&amp;feature=playlist">Timothée Giet</a>
      </div>
  </td>
<td class="pl-video-badges"></td><td class="pl-video-added-by"></td><td class="pl-video-time"><div class="more-menu-wrapper">  <div class="timestamp"><span title="16 minutes">16:45</span></div>
<div class="pl-video-edit-options"></div></div></td></tr>

      </tbody>
    </table>
  </div>

      </li>

    </ul>