




/*
     FILE ARCHIVED ON 18:41:39 Oct 8, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 8:49:24 Apr 24, 2015.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
.addtoany_share_save_container{margin:16px 0}ul.addtoany_list{display:inline;list-style-type:none;margin:0!important;padding:0!important;text-indent:0!important}ul.addtoany_list li{background:none!important;border:0;display:inline!important;line-height:32px;list-style-type:none;margin:0!important;padding:0!important}ul.addtoany_list li:before{content:""}ul.addtoany_list li a{padding:0 9px}ul.addtoany_list img{float:none;border:0;margin:0;padding:0;vertical-align:middle}ul.addtoany_list a img{opacity:.7}ul.addtoany_list a:hover img,ul.addtoany_list a.addtoany_share_save img{opacity:1}a.addtoany_share_save img{border:0;width:auto;height:auto}