




/*
     FILE ARCHIVED ON 18:43:15 Oct 8, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 8:49:25 Apr 24, 2015.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
#shadowbox_overlay{visibility:hidden;position:absolute;display:block;margin:0;padding:0;top:0;left:0;z-index:998;}#shadowbox_container{position:fixed;height:0;width:100%;margin:0;padding:0;top:0;left:0;z-index:999;text-align:center;}#shadowbox{display:none;visibility:hidden;margin:0 auto;position:relative;font-family:'Lucida Grande',Tahoma,sans-serif;text-align:left;}#shadowbox_title{height:25px;padding:0;overflow:hidden;}#shadowbox_title_inner{height:16px;font-size:16px;line-height:16px;white-space:nowrap;padding:5px 0 4px 8px;color:#fff;}#shadowbox_body{position:relative;overflow:hidden;margin:0;padding:0;border:2px solid #fff;background-color:#000;}#shadowbox_body_inner{position:relative;overflow:hidden;}#shadowbox_loading{position:absolute;top:0;left:0;height:10000px;width:100%;background-color:#222;}#shadowbox_loading img{float:left;margin:10px 10px 0 10px;}#shadowbox_loading span{float:left;margin-top:16px;font-size:10px;}#shadowbox_loading span a,#shadowbox_loading span a:link,#shadowbox_loading span a:visited{color:#fff;}#shadowbox_content.html{height:100%;width:100%;overflow:auto;}#shadowbox_toolbar{margin:0;padding:0;height:20px;overflow:hidden;}#shadowbox_toolbar_inner{height:20px;color:#fff;}#shadowbox_toolbar_inner div{padding-top:4px;padding-bottom:2px;font-size:10px;height:10px;line-height:10px;}#shadowbox_toolbar_inner div span.shortcut{text-decoration:underline;font-weight:bold;}#shadowbox_toolbar_inner div a{text-decoration:none;color:#fff;}#shadowbox_nav_close,#shadowbox_nav_previous,#shadowbox_nav_next{float:right;padding-right:10px;}#shadowbox_counter{float:left;padding-left:10px;}#shadowbox_counter a{padding:0 4px 0 0;}#shadowbox_counter a.shadowbox_counter_current{text-decoration:underline;font-weight:bold;}div.shadowbox_message{text-align:center;padding:10px;}div.shadowbox_message a:link,div.shadowbox_message a:visited{text-decoration:none;color:#bed333;}div.shadowbox_message a:hover,div.shadowbox_message a:focus{text-decoration:underline;}