@font-face {
    font-family: 'OSPDINDIN';
        src: url('OSPDINDIN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }


/* The following rules are deprecated. */

@font-face {
    font-family: 'OSP-DIN';
        src: url('OSPDINDIN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }


